@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Inter", sans-serif;
}


body{
width: 100%;
min-height: 100vh;
background-color: #b6e7ff;
}

header{
width: 100%;
height: 8rem;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
background-color: #005b8d;

}

.navegador{
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}


.navegador > h1 {
    width: 100%;
    height: 30%;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    text-shadow: 0 0 5px #2cc2ff;
    color: white;
    transition: text-shadow 0.3s ease;  
    cursor: pointer;
  }

.navegador > h1:hover {
  text-shadow: 0 0 10px #def2ff; 
}

.navegador > .opciones {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: #006baa;
}

.navegador > .opciones li {
  width: 8vw;
  height: 40%;
  justify-content: center;
  align-items: center;
  background-color: #2cc2ff;
  border-radius: 10px;
  box-shadow: 0 0 10px #04304d;
  white-space: nowrap;
  display: flex;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.navegador > .opciones li:hover {
  box-shadow: 0 0 20px #04304d;
}

.navegador > .opciones a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

.logotipo {
  width: 20%;
  height: 100%;
  padding: 7px 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logotipo > #logo {
  width: 40%;
  height: 80%;
  border-radius: 70%;
  box-shadow: 0 0 10px white;
  border: 1px solid white;
  background-image: center;
  background-size: cover;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.logotipo:hover > #logo {
  box-shadow: 0 0 20px white; 
}

@media (max-width: 1700px) {
  .opciones a{
      flex-basis: 0; overflow: 
      hidden; margin-left: 8px;
       white-space: nowrap;
  }
}

main{
  height: 76.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex:1;
}

main > .datos{
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: wrap;
}

main > .datos > #opciones{
 border-radius: 15px;
 height: 2rem;
 border: 1px solid #2cc2ff;
 padding: 5px;
 font-weight: 500;
cursor: pointer;
margin-right: 10px;
box-shadow: 0 0 3px white;
}


main > .datos > label{
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-wrap: nowrap;
  font-weight: bold; 
  margin-right: 10px;
}


 main > .datos > label > input{
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  border:2px solid #2cc2ff;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 0 3px white;
}

 
main > .datos > .linea{
  width: 95%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  text-shadow: 0 0 5px #0088d4;
  padding-top: 20px;
}

main > .ciudades{
  width:95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main > .ciudades > .card{
  width:15%;
  height: 10%;
  display: flex;
  flex-direction: column-reverse;
}

main > .ciudades > .card > h2{
  width: 100%;
  height: 2.8rem;
  text-align: center;
  background-color: white;
  color: #005b8d;
  font-weight: 296;
  font-size: 30px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

h2:hover {
box-shadow: 0 0 10px #005b8d; 
}

.ciudades > .card{
  width: 20%;
  border-radius: 20px;
  overflow: hidden;
  margin: 1rem 1rem;
  border: 3px solid white;  
  transition: box-shadow 0.3s ease;
}


.card:hover {
box-shadow: 0 0 20px white; 
}


.img{
  width:100%;
  height:4cm;
  transition: box-shadow 0.3s ease;
  cursor: pointer; 
}


.img:hover {
box-shadow: 0 0 20px white; 
}

footer{
  background-color: #005b8d;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > section {
  width: 20%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 15px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  cursor: pointer;  
}


.section:hover {
box-shadow: 0 0 20px white; 
}


.redes{
  height:1cm;
  transition: box-shadow 0.3s ease;
  cursor: pointer;  
}

.redes1{
height: 2.2cm;
transition: box-shadow 0.3s ease;
cursor: pointer;  
}
